.color-main{
  background: rgba(255, 0, 0, 0.926);
  background: -moz-linear-gradient(-45deg, rgba(255, 0, 0, 0.926) 0%, #041A74 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 0, 0, 0.926)), color-stop(100%, #041A74));
  background: -webkit-linear-gradient(-45deg, rgba(255, 0, 0, 0.926) 0%, #041A74 100%);
  background: -o-linear-gradient(-45deg, rgba(255, 0, 0, 0.926) 0%, #041A74 100%);
  background: -ms-linear-gradient(-45deg, rgba(255, 0, 0, 0.926) 0%, #041A74 100%);
  background: -webkit-linear-gradient(315deg, rgba(255, 0, 0, 0.926) 0%, #041A74 100%);
  background: -o-linear-gradient(315deg, rgba(255, 0, 0, 0.926) 0%, #041A74 100%);
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.926) 0%, #041A74 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6700', endColorstr='#013a63', GradientType=1 );
  color: #fff;
 }
.navbar{
  width: 100%;
  height: 80px;
  background-color: #041A74;
}
.side-color{
  color: white;
  background-color: rgb(29, 28, 35);
}
.list{
  height: 100vh;
}
.header-color{
  color: #fff;
}
.login-header{
  color: #fff;
  text-decoration: none;
}
.color-table{
  background: #041A74;
  background: -moz-linear-gradient(-45deg, #041A74 0%, #041A74 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #041A74), color-stop(100%, #041A74));
  background: -webkit-linear-gradient(-45deg, #041A74 0%, #041A74 100%);
  color: #fff;
}
.home{
  display: flex;
}
.prints{
  width: 100%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  
}
.side{
  max-width: 250px;
  width: 100vh;
  height: 100vh;
  
}
.link-side{
  text-decoration: none;
  color: white;
}
.users{
  width: 100%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-create{
 margin-top: 5px;
 margin-bottom: 10px;
}
.danger-p {
  color: red;
  font-size: 10px;
}
